:host {
  --ion-background-color: #085062;
  --ion-text-color: #d2a429;
}

/* === HEADER === */
ion-header {
  background-color: var(--ion-background-color);
  border-bottom: 2px solid var(--ion-text-color);
  box-shadow: 0 2px 6px rgba(210, 164, 41, 0.3);
}

ion-toolbar {
  --background: transparent;
  color: var(--ion-text-color);
  text-align: center;
}

ion-title {
  color: var(--ion-text-color);
  font-weight: bold;
  font-size: 1.3rem;
  text-shadow: 0 0 6px rgba(210, 164, 41, 0.6);
}

ion-button[color="danger"] {
  font-weight: bold;
  --background: transparent;
  --color: var(--ion-text-color);
  border: 1.5px solid var(--ion-text-color);
  border-radius: 8px;
  padding: 0px 8px;
  transition: 0.3s ease;
  font-size: 0.85rem;
}

ion-button[color="danger"]:hover {
  background-color: var(--ion-text-color);
  color: var(--ion-background-color);
}

/* === CONTENT === */
ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
  padding: 1rem;
}

/* === CARD === */
ion-card {
  --background: #0b768c;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(210, 164, 41, 0.2);
  color: var(--ion-text-color);
  margin-top: 16px;
}

ion-card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--ion-text-color);
  text-align: center;
}

ion-card-content p {
  margin: 8px 0;
  font-size: 0.95rem;
  color: var(--ion-text-color);
}

/* === FECHA FINAL ELEGIDA === */
.fecha-final {
  background-color: var(--ion-text-color);
  color: var(--ion-background-color);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(210, 164, 41, 0.2);
}
.fecha-final {
  color: #000 !important;
}

/* === IMAGEN CABECERA === */
.imagen-portada {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.imagen-grupo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo-superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--ion-text-color);
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  background-color: rgba(8, 80, 98, 0.6);
  border-radius: 8px;
  border: 2px solid var(--ion-text-color);
}

/* === DARK MODE === */
@media (prefers-color-scheme: dark) {
  ion-content {
    --background: #042b33;
  }

  ion-card {
    --background: #085062;
    color: var(--ion-text-color);
    box-shadow: 0 4px 12px rgba(210, 164, 41, 0.3);
  }

  ion-card-content p,
  ion-card-title {
    color: var(--ion-text-color);
  }

  .fecha-final {
    background-color: #d2a429;
    color: #042b33;
  }

  .titulo-superpuesto {
    background-color: rgba(8, 80, 98, 0.7);
    color: var(--ion-text-color);
  }

  ion-button[color="primary"] {
    --background: var(--ion-text-color);
    --color: var(--ion-background-color);
  }
}

.estado-chip {
  margin-top: 6px;
}

