.imagen-ampliada {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.imagen-ampliada.animando {
  opacity: 0;
  transform: scale(0.95);
}
